

body {
    margin-left: 40px;
    background-color: black;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    color: #328986;
}

h3 {
    color: blanchedalmond;
}

p {
    font-size: medium;
    font-weight: bold;
    color: blanchedalmond;
}

a {
    font-size: medium;
}
