<!-- Fixed navbar -->
<nav class="navbar navbar-dark navbar-default navbar-fixed-top navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">Patricia Ennenbach</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="dropdown nav-item">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Code Library <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="/#Python">Python</a></li>
                        <a class="dropdown-item" href="/#Juypter">Juypter</a></li>
                        <a class="dropdown-item"  href="/#GitHub">GitHub</a></li>
                        <a class="dropdown-item" href="/#Linux">Linux</a></li>
                        <a class="dropdown-item" href="/#Django">Django</a></li>
                        <a class="dropdown-item" href="/#Flask">Flask</a></li>
                    </ul>
                </li>
                <li><a class="nav-link" href="https://github.com/p3nny">GitHub</a></li>
                <li><a class="nav-link" href="https://twitter.com/pen1710">Twitter</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>